#carouselExampleIndicators{
    width: 95%;
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.carousel-inner img {
    border-radius: 15px;
}

hr {
    width: 95%;
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 20px;
}

.row {
    margin-left: 25px;
}

.card {
    width: 385px;
    margin-bottom: 20px;
}

.card img {
    border-radius: 5px;
}

h4{
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}